<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" /> <!-- Para Android 12 (API 31 - S) en adelante -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ACAE APP"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".NuevoServidor"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MenuAverias"
            android:exported="false" />
        <activity
            android:name=".ValidarHojaCarga"
            android:exported="false" /> <!-- Broadcast para permisos USB -->
        <meta-data
            android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
            android:value="true" />

        <activity
            android:name=".AgregarProductosDevolucion"
            android:exported="false" />
        <activity
            android:name=".NuevaDevolucion"
            android:exported="false" />
        <activity
            android:name=".MenuDevoluciones"
            android:exported="false" />
        <activity
            android:name=".ClienteGeolocalizacion"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".AgregarProductoSolicitud"
            android:exported="false" />
        <activity
            android:name=".ListadoProductosSolicitud"
            android:exported="false" />
        <activity
            android:name=".NuevaSolicitud"
            android:exported="false" />
        <activity
            android:name=".SolicitudCargaMenu"
            android:exported="false" />
        <activity
            android:name=".NuevoGasto"
            android:exported="false" />
        <activity
            android:name=".MenuGasto"
            android:exported="false" />
        <activity
            android:name=".NuevaSucursal"
            android:exported="false" />
        <activity
            android:name=".Sucursales"
            android:exported="false" />
        <activity
            android:name=".NuevoCliente"
            android:exported="false" />
        <activity
            android:name=".ReporteLiquidacion"
            android:exported="false" />
        <activity
            android:name=".MenuReportes"
            android:exported="false" />
        <activity
            android:name=".NuevoAbono"
            android:exported="false" />
        <activity
            android:name=".AbonosCxc"
            android:exported="false" />
        <activity
            android:name=".HistoricoPedidoDetalles"
            android:exported="false" />
        <activity
            android:name=".HistoricoPedidos"
            android:exported="false" />
        <activity
            android:name=".PreciosAutorizados"
            android:exported="false" />
        <activity
            android:name=".NuevoPrecioAutorizado"
            android:exported="false" />
        <activity
            android:name=".firmarPagare"
            android:exported="false" />
        <activity android:name=".Visita" />
        <activity android:name=".CuentasDetalle" />
        <activity android:name=".Cuentas_list" />
        <activity android:name=".Inventariodetalle" />
        <activity
            android:name=".ClientesDetalle"
            android:parentActivityName=".Clientes" />
        <activity android:name=".Producto_agregar" />
        <activity android:name=".verPagare" />
        <activity android:name=".Detallepedido" />
        <activity
            android:name=".Pedido"
            android:label="@string/title_activity_pedido"
            android:parentActivityName=".Inicio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Producto_detalle" />
        <activity
            android:name=".Inventario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Clientes" />
        <activity android:name=".Configuracion" />
        <activity android:name=".carga_datos" />
        <activity android:name=".Inicio" />
        <activity android:name=".Login" />
        <activity
            android:name=".MenuServidores"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>